* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    position: relative;
    width: 500px;
    margin: 20px auto;
    height: 600px;
    background-color: antiquewhite;
    box-shadow: 2px 4px 10px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.doing-window {
    margin: 0 auto;
    width: 80%;
    height: 80%;
    border: 1px solid black;
    box-shadow: 2px 4px 10px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.one-task {
    display: inline-block;
    border: .5px solid black;
    background-color: aquamarine;
    padding: 5px;
    font-size: 20px;
    margin: 0 0 10px;
    position: relative;
}
.one-task:hover::before {
    content: 'X';
    text-align: end;
    border: 1px solid black;
    color: red;
    cursor: pointer;
    padding: 5px;
}
.checkbox {
    width: 5px;
    height: 5px;
    margin: 0 10px 10px;
    padding: 5px;
    background-color: white;
    border: 0.5px solid black;
    cursor: pointer;
}
.add-task {
    margin: 15px 0;
    padding: 10px;
    text-align: center;
    border-radius: 12px;
    color: white;
    border: 1px solid yellow;
    background-color: blueviolet;
    transition: .4s;
    cursor: pointer;
}
.add-task:hover {
    color: red;
    background-color: black;
    transition: .4s;
}